.game-wrapper {
  color: #60358f;
  position: relative;
  text-align: center;

  h1 {
    font-family: MuseoModerno;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 57px;
    margin: 0.4em auto;
  }
}
