section#profile {
    //class praquele header?
    text-align: center;
    color: #60358f;
    position: relative;

  h1 {
    font-family: MuseoModerno;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 57px;
    margin: 0.4em auto;
  }

  p {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
  }

  strong {
    font-family: MuseoModerno;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
    color: #A3C54B;
  }

  hr { width: 90%; }
}
