$checkSize: 40px;

.card-list {
    width: 90%;
    margin: 0px auto;
    
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    box-sizing: border-box;

    .card-wrapper {
        position: relative;


        &.selected {
            border: 2px solid green;
        }
    }

}

.card-wrapper .check {
    position: absolute;
    width: $checkSize;
    height: $checkSize;
    right: $checkSize / -2;
    bottom: $checkSize / -2;
    z-index: 1;

    img {
        width: 100%;
        height: 100%;
        margin: 0%;
        padding: 0%;
    }
}