nav.main-nav {
    a {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        text-decoration: inherit;
        color: inherit;
    }

    ul {
        display: flex;
        flex-direction: row;
        background: #F4F9E7;
        list-style-type: none;
        margin: 0;
        padding: 0px;
    }

    li {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;
        padding: 4px 0px;
        
        img {
            height: 30px;
            object-fit: contain;
        }

        span {
            font-size: 0.8em;
        }

        &.active {
            background: #A3C54B;
            color: white;
            font-weight: bold;
        }
    }
}